.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-cart-icon {
    width: 15px;
    height: 15px;
    background-position: -25px -25px;
}

.sprite-checkbox-off {
    width: 23px;
    height: 23px;
    background-position: -25px -90px;
}

.sprite-checkbox-on-png-copy {
    width: 27px;
    height: 23px;
    background-position: -25px -163px;
}

.sprite-close-cross-png-copy {
    width: 21px;
    height: 21px;
    background-position: -25px -236px;
}

.sprite-fb-icon {
    width: 12px;
    height: 22px;
    background-position: -25px -307px;
}

.sprite-insta-icon {
    width: 21px;
    height: 21px;
    background-position: -25px -379px;
}

.sprite-radio-off {
    width: 25px;
    height: 25px;
    background-position: -25px -450px;
}

.sprite-radio-on-png-copy {
    width: 25px;
    height: 25px;
    background-position: -25px -525px;
}

.sprite-vk-icon {
    width: 26px;
    height: 15px;
    background-position: -25px -600px;
}
