body {
  margin: 0;
  padding: 0;
  min-width: 1160px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  padding-top: 35px;
  max-height: 545px;
  color: #000;
  background-color: #eee;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 1160px;
}

.logo {
  float: left;
  margin-top: 13px;
  width: 160px;
  height: 65px;
  margin-right: 40px;
  cursor: pointer;
}

.logo img {
  background-color: #eee;
}

.main-navigation {
  float: left;
  width: 760px;
  min-height: 65px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  padding-left: 161px;
  font-size: 0;
  list-style: none;
  font-weight: 500;
  text-transform: uppercase;
}

.main-navigation li {
  display: inline-block;
  margin-right: 46px;
  vertical-align: top;
  font-size: 16px;
  line-height: 30px;
}

.main-navigation a {
  color: #000;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-block {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 160px;
  float: right;
}

.login {
  position: relative;
  display: inline-block;
  margin-top: 40px;
  padding-left: 85px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  vertical-align: top;
  color: #000;
  text-decoration: none;
}

.login::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 43px;
  height: 18px;
  width: 18px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -25px -24px;
}

.login:hover {
  color: #fb565a;
}

.slider {
  clear: both;
  position: relative;
  width: 1160px;
  height: 432px;
  margin: 0 auto;
}

.slider input[type=radio] {
  position:absolute;
  opacity:0;
}

.slider-controls {
  position: absolute;
  bottom: 104px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 7px;
  background: #fff;
  border: 7px solid #fff;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
  background:#c1c1c1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text {
  width: 560px;
  height: 350px;
  padding: 30px 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #283136;
}

.slide-title {
  margin-top: 48px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  margin-bottom: 26px;
  color: #000;
}

.slide p {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
}

.slide .btn {
  display:block;
  width:240px;
  padding: 12px 0;
  margin-top:41px;
  font-size:16px;
  font-weight: 500;
  color:white;
  text-transform:uppercase;
  text-align:center;
  text-decoration:none;
  background:#fb565a;
  border-radius:3px;
}

.slide .btn:hover {
  background-color: #e74246;
}

.slide .btn:active {
  background-color: #d7373b;
  color: #e37376;
  -webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
     -moz-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
          box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
}

.slide:nth-child(1){
  background: #eee url("../img/slide1.png");
  background-repeat:no-repeat;
  background-position: 93% 19px;
}

.slide:nth-child(2){
  background: #eee url("../img/slide2.png");
  background-repeat:no-repeat;
  background-position:100% 0;;
}

.slide:nth-child(3){
  background: #eee url("../img/slide3.png");
  background-repeat:no-repeat;
  background-position:100% 20px;
}

.slide{
  display:none;
}

#btn-1:checked ~ .features .slide:nth-child(1) { 
  display: block;
}

#btn-2:checked ~ .features .slide:nth-child(2) { 
  display: block;
}

#btn-3:checked ~ .features .slide:nth-child(3) { 
  display: block;
}

main {
  padding-top: 60px;
}

.service {
  padding-top: 20px;
}

.service-title {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 30px;
  color: #000;
  font-weight: 700;
  font-family: "Roboto" sans-serif;
  text-transform: uppercase;
}

.service-item {
  float: left;
  width: 300px;
  margin-right: 100px;
  margin-bottom: 80px;
}

.service-item img {
  background-color: #eee;
}

.service-item:last-child {
  margin-right: 0;
}

.service-item p {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 25px;
  color: #283136;
}

.order-btn {
  display: inline-block;
  width: 160px;
  padding: 17px 0;
  margin-top: 30px;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  vertical-align: top;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.red-1 {
  background-color: #fb565a;
}

.red-1:hover {
  background-color: #e74246;
}

.red-1:active {
  background-color: #d7373b;
  color: #e37376;
  -webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
     -moz-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
          box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
}

.green-2 {
  background-color: #00ca74;
}

.green-2:hover {
  background-color: #00bc6c;
}

.green-2:active {
  background-color: #00aa62;
  color: #4dc491;
  -webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
     -moz-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
          box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
}

.yellow-3 {
  background-color: #efc84a;
}

.yellow-3:hover {
  background-color: #eab534;
}

.yellow-3:active {
  background-color: #e5a722;;
  color: #edc265;
  -webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
     -moz-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
          box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
}

.divider {
  clear: both;  
  width: 1160px;
  height: 2px;
  margin-bottom:39px;
  background-color: #eee;  
}

.divider-first {
  clear: both;  
  width: 1160px;
  height: 2px;
  margin-bottom:47px;
  background-color: #eee;  
}

.left-column {
  float: left;
  width: 660px;
}

.left-column h2 {
  margin: 0;
  margin-top: 33px;
  margin-bottom: 33px;
  font-size: 45px;
  line-height: 45px;
  color: #000;
}

.left-column p {
  margin: 0;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.left-column b {
  display: block;
  margin: 0;
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-transform: uppercase;
}

.left-column a {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.left-column a::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 1px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  vertical-align: top;
}

.left-column a:last-child {
  margin-bottom: 72px;
}

.right-column {
  float: right;
  width: 360px;
  height: 415px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.illustration {
  width: 360px;
  height: 208px;
  margin-bottom: 36px;
  background: #eee url("../img/nerds-illustration.jpg");
  background-repeat: no-repeat;
}

.right-column b {
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 45px;
}

.percents-block-item {
  display: inline-block;
  width: 115px;
  height: 95px;
  vertical-align: top;
  margin-top: 47px;
}

.number {
  display: inline-block;
  margin-bottom: 24px;
  font-size: 45px;
  line-height: 35px;
  font-weight: 700;
  vertical-align: top;
}

.percentage {
  position: relative;
  top: -3px;
  right: 3px;
  font-size: 25px;
  font-weight: 700;
}

.descr {
  display: block;
  font-size: 16px;
  line-height: 18px;
}

.logo-block {
  margin: 0 auto;
}

.logo-block a {
  position: relative;
  float: left;
  width: 260px;
  margin-right: 40px;
  margin-bottom: 37px;
  text-align: center;
}

.logo-block img {
  opacity: 0.2;
  background-color: #eee;
}

.logo-block img:hover {
  opacity: 1;
}

.logo-block img:active {
  opacity: 0.1;
}

.logo-block a:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 18px;
  left: -21px;
  height: 52px;
  width: 2px;
  background-color: #eee;
}

.logo-block a:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -22px;
  height: 52px;
  width: 2px;
  background-color: #eee;
  opacity: 1;
}

.logo-block a:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -21px;
  height: 52px;
  width: 2px;
  background-color: #eee;
  opacity: 1;
}

.logo-block a:nth-child(1) {
  margin-top: 14px;
}

.logo-block a:nth-child(2) {
  margin-top: -1px;
}

.logo-block a:nth-child(3) {
  margin-top: 17px;
}

.logo-block a:nth-child(4) {
  margin-top: 5px;
}

.logo-block a:last-child {
  margin-right: 0;
}

.divider-second {
  clear: both;  
  width: 1160px;
  height: 2px;
  margin-bottom:80px;
  background-color: #eee;  
}

.map {
  margin: 0;
  padding: 0;
  height: 416px;
  width: 100%;
  background: #eee url("../img/map-marker-bg.png");
  background-repeat: no-repeat;
  background-position: 0px -180px;
}

.contacts {
  position: absolute;
  top: -363px;
  left: 20px;
  width: 219px;
  padding: 50px;
  background-color: #fff;
  margin-right: 40px;
  z-index: 1000;
}

.contacts h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 30px;
  font-family: inherit;
  text-transform: uppercase;
}

.contacts p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #666;
  font-family: "Roboto" sans-serif;
}

.tel {
  display: inline-block;
  margin-top: 18px;
  margin-bottom: 37px;
  font-style: inherit;
  font-size: 16px; 
  line-height: 18px;
  color: #666;
  vertical-align: top;
}

.write-us {
  display: block;
  width: 220px;
  padding: 16px 0;
  text-align: center;
  background-color: #fb565a;
  border-radius: 2px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}


.write-us:hover {
  background-color: #e74246;
}

.write-us:active {
  background-color: #d7373b;
  color: #e37376;
  -webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
     -moz-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
          box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
}

.main-footer{ 
  min-height: 633px;
  position: relative;
}

.social-block {
  position: relative;
  float: left;
  width: 261px;
  margin-right: 40px;
  padding-top: 70px;
  min-height: 80px;
}

.social-btn {
  display: inline-block;
  width: 77px;
  height: 77px;
  margin: 0;
  vertical-align: top;
  border-radius: 40px;
  margin-right: 11px;
  background-color: #e1e1e1;
  font-size: 0;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active {
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 0, 1, 0.1);
     -moz-box-shadow: inset 0 3px 0 0 rgba(0, 0, 1, 0.1);
          box-shadow: inset 0 3px 0 0 rgba(0, 0, 1, 0.1);
}

.social-btn-vk::before {
  content: "";
  position: absolute;
  top: 92px;
  left: 26px;

  height: 30px;
  width: 30px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -24px -592px;
}

.social-btn-fb::before {
  content: "";
  position: absolute;
  top: 95px;
  left: 115px;
  height: 30px;
  width: 30px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -15px -304px;
}

.social-btn-inst::before {
  content: "";
  position: absolute;
  top: 93px;
  left: 205px;
  height: 30px;
  width: 30px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -20px -374px;
}

.social-btn-vk:active::before {
  opacity: 0.2;
}

.social-btn-fb:active::before {
  opacity: 0.2;
}

.social-btn-inst:active::before {
  opacity: 0.2;
}

.footer-descr {
  float: left;
  width: 659px;
  margin: 0;
  padding: 0 100px;
  padding-top: 75px;
}

.footer-descr b {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 10px;
}

.footer-descr p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #444;
}

.main-title {
  clear: both;
  font-size: 55px;
  line-height: 55px;
  color: #000;
  font-weight: 500;
  font-style: "Roboto";
  text-align: center;
}

.inner-nav {
  padding-bottom: 86px;
}

.main-header-inner {
  padding-top: 36px;
  height: 318px;
  color: #000;
  background-color: #eee;
}

.main-navigation .active {
  position: relative;
}

.main-navigation .active::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fb565a;
}

.main-title-inner-page {
  clear: both;
  font-size: 55px;
  line-height: 55px;
  color: #000;
  font-weight: 500;
  font-style: "Roboto";
  text-align: center;
}

.main-inner {
  padding-top: 40px;
  clear: both;
}

form {
  display: inline-block;
  padding: 0;
  margin-top: 16px;
  vertical-align: top;
  width: 260px;
  margin-right: 40px;
}

form .main-sort-description {
  display: inline-block;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 30px;
  text-transform:uppercase;
  font-weight: bold;
  color: #000;
  vertical-align: top;
}

form .sort-description {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  text-transform:uppercase;
  font-weight: bold;
  color: #000;
  vertical-align: top;
}

.items-options {
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
  border: none; 
}

.items-options-range {
  padding: 0;
  margin: 0;
  margin-bottom: 57px;
  border: none; 
}

.range-filter {
  width: 260px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
     -moz-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: block;
  margin-bottom: 18px;
  padding-top: 1px;
  padding-left: 37px;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  position: relative;
  cursor: pointer;
}

input[type="radio"] + label:hover {
  color: #000;
}

input[type="radio"] + label::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  border: 3px solid #4d4d4d;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="radio"]:checked + label::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #4d4d4d;
  opacity: 0.4;
  position: absolute;
  top: 8px;
  left: 8px;
}

input[type="radio"] + label:hover::before {
  opacity: 1;
}

input[type="radio"] + label:hover::before,
input[type="radio"]:checked + label:hover::after {
  opacity: 1;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  margin-bottom: 19px;
  padding-top: 1px;
  padding-left: 37px;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  width: 30px;
  height: 30px;
  background: transparent url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -25px -90px;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  width: 30px;
  height: 30px;
  background: transparent url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -25px -163px;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  left: 0px;
}

input[type="checkbox"] + label:hover::before,
input[type="checkbox"]:checked + label:hover::after {
  opacity: 1;
}

input[type="checkbox"] + label:hover {
  color: #000;
}

input[type="checkbox"]:checked + label::before {
  opacity: 0;
}

button[type="submit"] {
  width: 260px;
  padding: 17px 0;
  margin: 0;
  margin-top: 30px;
  border: none;
  border-radius: 3px;
  background-color: #eee;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

button[type="submit"]:hover {
  background-color: #dfdfdf;
}

button[type="submit"]:active {
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 2px 3px rgba(0,1,1,0.1);
     -moz-box-shadow: inset 0 2px 3px rgba(0,1,1,0.1);
          box-shadow: inset 0 2px 3px rgba(0,1,1,0.1);
  color: #959595;
}

.content {
  float: right;
  width: 760px;
}

.content .sort-description {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  text-transform:uppercase;
  font-weight: bold;
  color: #000;  
  vertical-align: top;
}

.sort {
  display: inline-block;
  width: 760px;
  height: 30px;
  margin: 0;
  margin-top: 13px;
  margin-bottom: 50px;
  vertical-align: top;
}

.sort ul {
  display: inline;
  margin-left: 223px;
}

.sort li {
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
  padding-top: 6px;
}

.sort-nav  a {
  margin-right: 22px;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-nav  a:hover {
  opacity: 0.6;
}

.sort-nav  a:active {
  opacity: 0.3;
}

.sort .checked {
  opacity: 1;
}

.down-sort {
  display: inline;
  margin-left: 23px;
  margin-right: 16px;
}

.down-sort a {
  display: inline-block;
  margin-top: 13px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 11px solid #000;
  vertical-align: top;
  opacity: 0.4;
}

.up-sort a {
  display: inline-block;
  margin-top: 13px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent; 
  border-bottom: 11px solid #000;
  vertical-align: top;
  opacity: 0.4;
}

.sort .active-arrow {
  opacity: 1;
}

.down-sort a:hover,
.up-sort a:hover {
  opacity: 0.6;
}

.down-sort a:active,
.up-sort a:active {
  opacity: 1;
}

.item {
  float: left;
  position: relative;
  width: 360px;
  height: 616px;
  margin-right: 40px;
  margin-bottom: 34px;
  background-color: #eee;
}

.item:hover {
  -webkit-box-shadow: 0 0 6px rgba(0,1,1,0.25);
     -moz-box-shadow: 0 0 6px rgba(0,1,1,0.25);
          box-shadow: 0 0 6px rgba(0,1,1,0.25);
}

.item:nth-child(even) {
  margin-right: 0;
  
}

.item:hover .description {
  opacity: 1;

}

.description {
  position: absolute;
  bottom: 0;
  width: 360px;
  height: 230px;
  background-color: #eee;
  opacity: 0;
}

.description b {
  display: block;
  margin: 0;
  margin-top: 28px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.description p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #666;
  text-align: center;
  margin-top: 15px;
}

.price {
  display: inline-block;
  width: 200px;
  margin-left: 80px;
  margin-top: 10px;
  background-color: #fb565a;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 12px 0;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
}

.price:hover {
  background-color: #e74246;
}

.price:active {
  background-color: #d7373b;
}

.pages-navigation {
  clear: both;
  padding-left: 0px;
  padding-top: 2px;
  margin: 0;
}

.pages-navigation li {
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

.pages-navigation a {
  display: inline-block;
  padding: 16px 0;
  width: 47px;
  margin-top: 25px;
  margin-right: 10px;
  margin-bottom: 60px;
  background-color: #eee;
  color: #000;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
}

.pages-navigation a:hover {
  background-color: #dfdfdf;
}

.pages-navigation a:active {
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 2px 3px rgba(0,1,1,0.1);
     -moz-box-shadow: inset 0 2px 3px rgba(0,1,1,0.1);
          box-shadow: inset 0 2px 3px rgba(0,1,1,0.1);
  color: #959595;
}

.pages-navigation .selected-page {
  width: 44px;
  padding: 13px 0;
  background-color: #fff;
  border: 3px solid #dbdbdb;
  border-radius: 2px;
}

.pages-navigation .selected-page:hover {
  background-color: #fff;
}
.pages-navigation .next-page {
  width:260px;
  text-transform: uppercase;
}

.modal-content {
  position: absolute;
  top: 1810px;
  left: 50%;
  margin-left: -480px;
  width: 760px;
  padding: 65px 100px;
  color: #000;
  display: none;
  background-color: #fff;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
     -moz-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 2000;
}

.modal-content-show {
  display: block;
}

.modal-content-close {
  position: absolute;
  top: 76px;
  right: 88px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -25px -236px;
  opacity: 0.3;
  border: 0;
  cursor: pointer;
}

.modal-content-close:hover {
  opacity: 1;
}

.modal-content-close:active {
  opacity: 0.1;
}

.modal-content-title {
  font-family: inherit;
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  color: #000;
  margin-bottom: 35px;
}

.modal-content label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.left {
  display: inline-block;
  width: 360px;
  margin-bottom: 35px;
  margin-right: 32px;
  vertical-align: top;
}

.right {
  display: inline-block;
  width: 360px;
  margin-bottom: 35px;
  vertical-align: top;
}

.modal-content form {
  margin: 0;
  padding: 0;
  width: 760px;
}

.login-form input[type="text"],
.login-form input[type="email"] { 
  width: 332px;  
  padding: 14px 12px;
  margin: 0;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  font-family: inherit; 
  font-size: 16px;
  line-height: 18px;
  color: #444;
}

textarea {
  display: block;
  width: 725px;
  height: 114px;
  margin: 0;
  padding: 14px 12px; 
  border: 2px solid #d7dcde;
  border-radius: 3px;
  font-family: inherit; 
  font-size: 16px;
  line-height: 18px;
  color: #444;
}

.modal-content .submit-modal-content {
  width: 220px;
  padding: 16px 0;
  text-align: center;
  background-color: #fb565a;
  border-radius: 2px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.modal-content .submit-modal-content:hover {
  background-color: #e74246;
}

.modal-content .submit-modal-content:active {
  background-color: #d7373b;
  color: #e37376;
  -webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
     -moz-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
          box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
}

@-webkit-keyframes bounce {
  0%    { -webkit-transform: translateX(-2000px); -moz-transform: translateX(-2000px); transform: translateX(-2000px); }
  70%   { -webkit-transform: translateX(30px); -moz-transform: translateX(30px); transform: translateX(30px);          }
  90%   { -webkit-transform: translateX(-10px); -moz-transform: translateX(-10px); transform: translateX(-10px);       }
  100%  { -webkit-transform: translateX(0); -moz-transform: translateX(0); transform: translateX(0);                   }
}

@-moz-keyframes bounce {
  0%    { -moz-transform: translateX(-2000px); -moz-transform: translateX(-2000px); transform: translateX(-2000px); }
  70%   { -moz-transform: translateX(30px); -moz-transform: translateX(30px); transform: translateX(30px);          }
  90%   { -moz-transform: translateX(-10px); -moz-transform: translateX(-10px); transform: translateX(-10px);       }
  100%  { -moz-transform: translateX(0); -moz-transform: translateX(0); transform: translateX(0);                   }
}

@keyframes bounce {
  0%    { -webkit-transform: translateX(-2000px); -moz-transform: translateX(-2000px); transform: translateX(-2000px); }
  70%   { -webkit-transform: translateX(30px); -moz-transform: translateX(30px); transform: translateX(30px);          }
  90%   { -webkit-transform: translateX(-10px); -moz-transform: translateX(-10px); transform: translateX(-10px);       }
  100%  { -webkit-transform: translateX(0); -moz-transform: translateX(0); transform: translateX(0);                   }
}

.modal-content-show {
  display: block;
  -webkit-animation-name: bounce;
     -moz-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
     -moz-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes shake {
 0%, 100% { -webkit-transform: translateX(0); -moz-transform: translateX(0); transform: translateX(0);                            }
 10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); -moz-transform: translateX(-10px); transform: translateX(-10px); }
 20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); -moz-transform: translateX(10px); transform: translateX(10px);         }
 }

 @-moz-keyframes shake {
 0%, 100% { -webkit-transform: translateX(0); -moz-transform: translateX(0);  transform: translateX(0);                           }
 10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); -moz-transform: translateX(-10px); transform: translateX(-10px); }
 20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); -moz-transform: translateX(10px); transform: translateX(10px);         }
 }

@keyframes shake {
 0%, 100% { -webkit-transform: translateX(0); -moz-transform: translateX(0); transform: translateX(0);                            }
 10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); -moz-transform: translateX(-10px); transform: translateX(-10px); }
 20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); -moz-transform: translateX(10px); transform: translateX(10px);         }
 }

.modal-error {
 -webkit-animation-name: shake;
    -moz-animation-name: shake;
         animation-name: shake;
 -webkit-animation-duration: 0.6s;
    -moz-animation-duration: 0.6s;
         animation-duration: 0.6s;
 }

.main-header-login {
  height: 136px;
  padding-top: 35px;
  color: #000;
  background-color: #eee;
}

.main-footer-login {
  height: 219px;
}

.modal-content-inner {
  display: block;
  padding-bottom: 60px;
}

.modal-content-close-inner {
  display: none;
}

.login-form-alternative {
  width: 756px;
}

.modal-content-inner label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.login-form-alternative input[type="text"],
.login-form-alternative input[type="email"] { 
  width: 332px;  
  padding: 14px 12px;
  margin: 0;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  font-family: inherit; 
  font-size: 16px;
  line-height: 18px;
  color: #444;
}

.modal-content-inner .submit-modal-content-login {
  width: 220px;
  padding: 16px 0;
  text-align: center;
  background-color: #fb565a;
  border-radius: 2px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.modal-content-inner .submit-modal-content-login:hover {
  background-color: #e74246;
}

.modal-content-inner .submit-modal-content-login:active {
  background-color: #d7373b;
  color: #e37376;
  -webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
     -moz-box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
          box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);
}